[push]
	default = simple
[core]
	autocrlf = input
	whitespace = -trailing-space
	ignorecase = true
	excludesfile = /Users/phadviger/.gitignore_global
	editor = /usr/local/bin/vim
[diff]
	renames = copies
	renameLimit = 5000
[merge]
	renameLimit = 5000
[alias]
	bc = branch --contains
	cleanup = "!sh -c 'git rm $(git ls-files —deleted)'"
	cob = "!bash -c 'git checkout $(git branch -a | awk '\"'\"'{FS=\"[/]\";} {gsub(/remotes\\/[^\\/]+\\//, \"\"); gsub(/[\t *]/, \"\"); if ($0 !~ /HEAD/) {print $1;} }'\"'\"' | sort -ui | percol)'"
	cmp = "!sh -c 'git log --left-right --oneline --no-merges --pretty=format:\"%m %Cred%h%Creset - %s %Cgreen(%an - %cr)%Creset %C(yellow)%d%Creset\" $0...'"
	crs = clone --recurse-submodules
	d = diff --ignore-space-at-eol --ignore-space-change
	dc = diff --cached --ignore-space-at-eol --ignore-space-change
	ds = diff --stat
	dcs = diff --cached --stat
	dw = "!sh -c 'GIT_PAGER=\"\" git d'"
	dcw = "!sh -c 'GIT_PAGER=\"\" git dc'"
	f=log --oneline --merges --pretty=format:'%Cred%h%Creset - %C(white)%s %Cgreen(%cr)%C(blue) [%cn]%C(yellow)%d%Creset' --abbrev-commit
	lb = checkout -
	lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
	lg = log --graph --date-order --pretty=format:'%Cred%h%Creset - %C(white)%s\n%C(red ul)          %Cgreen(%cr) %C(cyan)[%an,%cn]%Creset %C(yellow)%d%Creset'
	lga = log --graph --date-order --all --pretty=format:'%Cred%h%Creset - %C(white)%s\n%C(red ul)          %Cgreen(%cr) %C(cyan)[%an,%cn]%Creset %C(yellow)%d%Creset'
	lgn = log --no-merges --name-status --pretty=format:'%C(white)%m %Cred%h %Creset- %C(white)%s\n           %C(yellow)%d%n  %Cgreen%ci - %an,%cn - %Cresetparent: %Cred%p%Creset'
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	m = merge --no-ff --no-commit
	mergelog = log --oneline --decorate --graph
	ms = merge --squash
	s = status -uall -s -b
	ss = submodule status --recursive
	su = submodule update --recursive
	viewprevrel = "!sh -c 'git mergelog | grep \"tag: \" | head'"
	# diff vs. origin for same branch
	vs = "!bash -c 'X=\"${0/bash/}\"; git d origin/${X:-$(git rev-parse --abbrev-ref HEAD)}..'"
	vsn = "!bash -c 'X=\"${0/bash/}\"; git d --name-only origin/${X:-$(git rev-parse --abbrev-ref HEAD)}..'"
	wiff = "!sh -c 'GIT_PAGER=\"\" git d --ignore-space-at-eol --ignore-space-change --word-diff'"
	wiffc = "!sh -c 'GIT_PAGER=\"\" git d --ignore-space-at-eol --ignore-space-change --word-diff --cached'"
	# the acronym stands for "subtree add"
	sba = "!f() { git subtree add --prefix $2 $1 master --squash; }; f"
	# the acronym stands for "subtree update"
	sbu = "!f() { git subtree pull --prefix $2 $1 master --squash; }; f"
	# find all remote branches already in master
	merged = branch -r --merged

[color]
	status = auto
	branch = auto

[color "status"]
	added = green
	changed = cyan
	untracked = red

[color "diff"]
	meta = blue
	frag = magenta
	old = red
	new = green

[help]
	format = html
[web]
	browser = open
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	name = Philip Hadviger
	email = phadviger@glgroup.com
[fetch]
	prune = true
[status]
	relativePaths = false
